################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SerilogImplementation/.vs/SerilogImplementation
/SerilogImplementation/SerilogImplementation/bin/Debug/netcoreapp3.1
/SerilogImplementation/SerilogImplementation/obj
